<section aria-labelledby="wrapper-fighters">
  <article class="fighters">
    <h3>Peladores</h3>

    <div class="switch">
      <input id="toggle" type="checkbox" (change)="toggleProfesional()" [checked]="profesional" />
      <label class="toggle" >
        <i></i>
      </label>
    </div>



    <div class="fighters-list">
      <ul>
        @for(fighter of filteredFighters; track fighter.id){
        <li>
          <h4> {{fighter.name}} </h4>
          <img [src]="fighter.imageUrl" [alt]="fighter.name" class="fighter-image" />
          <p> <b>Ranking:</b> {{fighter?.record}}</p>
          <p> <b>Victorias:</b> {{fighter?.wins}}</p>
          <p> <b>Derrotas:</b> {{fighter?.loses}}</p>
          <p> <b>Empate:</b> {{fighter?.draw}}</p>
          <a [routerLink]="['/career', fighter.id]" fragment="career" class="btn-fighter" role="button">
            Ver recorrido de combates
          </a>
        </li>
        }
      </ul>
    </div>
  </article>
</section>
