section {
  margin-bottom: 10rem;
  margin-top: 10rem;
  .fighters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    h3 {
      background: linear-gradient(
        var(--color-quaternary),
        var(--color-quinary),
        var(--color-sextary)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: var(--font-size-xl);
      font-family: var(--font-primary);
      letter-spacing: var(--space-s);
    }

    .switch {
      position: relative;
      width: var(--width-s);
      height: var(--height-xs);
      box-sizing: border-box;
      padding: 3px;
      background: black;
      border-radius: 6px;
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
        0 1px 0 0 rgba(255, 255, 255, 0.1);

      input[type="checkbox"] {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        + label {
          position: relative;
          display: block;
          left: 0;
          width: 50%;
          height: 100%;
          background: #1b1c1c;
          border-radius: 3px;
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          transition: all 0.8s ease-in-out;

          &:before {
            content: "Ama";
            font-size: var(--font-size-s);
            width: 50%;
            background: linear-gradient(
              var(--color-primary),
              var(--color-secondary),
              var(--color-tertiary)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: var(--font-primary);
            margin-left: 10px;
          }

          &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
          }

          i {
            display: block;
            position: absolute;
            top: 50%;
            left: 75%;
            width: 3px;
            height: 24px;
            margin-top: -12px;
            margin-left: -1.5px;
            border-radius: 2px;
            background: #0d0d0d;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);

            &:before,
            &:after {
              content: "";
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 2px;
              background: #0d0d0d;
              box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);

            }

            &:before {
              left: -7px;
            }

            &:after {
              left: 7px;
            }
          }
        }

        &:checked {
          + label {
            left: 50%;

            &:before {
              content: "Pro";
              font-size: var(--font-size-s);
              background: linear-gradient(
                var(--color-quaternary),
                var(--color-quinary),
                var(--color-sextary)
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-family: var(--font-primary);
            }
          }
        }
      }
    }

    .fighters-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        list-style-type: none;

        li {
          font-size: var(--font-size-xs);
          display: flex;
          flex-direction: column;
          align-items: center;
          width: var(--width-s);
          height: auto;
          gap: 1rem;
          background: linear-gradient(
            var(--color-primary),
            var(--color-secondary)
          );
          color: var(--color-white);
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          padding: 1rem;
          h4 {
            font-size: var(--font-size-s);
          }
          .fighter-image{
            width: var(--width-s);
            height: var(--height-s);
            object-fit: contain;
          }
          a {
            font-family: var(--font-primary);
            text-decoration: none;
            color: var(--color-white);
            font-family: var(--font-primary);
            background: linear-gradient(
              var(--color-quaternary),
              var(--color-quinary),
              var(--color-sextary)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 1px solid var(--color-white);
            padding: var(--padding-xs);
            border-radius: 10px;

            cursor: pointer;
            position: relative;
            border-top-right-radius: 10px;
            transition: all 1s;
            &:after,
            &:before {
              content: " ";
              width: 30px;
              height: 10px;
              position: absolute;
              transition: all 1s;
            }
            &:after {
              top: -1px;
              left: -1px;
              border-top: 5px solid var(--color-black);
              border-left: 5px solid var(--color-black);
            }
            &:before {
              bottom: -1px;
              right: -1px;
              border-bottom: 5px solid var(--color-black);
              border-right: 5px solid var(--color-black);
            }
            &:hover {
              border-top-right-radius: 0px;
              border-bottom-left-radius: 0px;
              &:before,
              &:after {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 700px) {
    .fighters {
      .fighters-list {
        ul {
          gap: 2rem;
          li{
            .fighter-image{
              width: var(--width-m);
              height: var(--height-m);
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .fighters {
      .fighters-list {
        ul {
          gap: 3rem;
          li {
            width: var(--width-m);
            height: var(--height-xxl);
            font-size: var(--font-size-s);
            .fighter-image {
              width: var(--width-l);
              height: var(--height-l);
            }
            a {
              width: var(--width-s);
              font-size: var(--font-size-s);
            }
          }
        }
      }
    }
  }
}
