<section aria-labelledby="wrapper-fighters">
  <article class="fighters">
    <h3>Peladores</h3>
    <div class="fighters-list">
      <ul>
        @for(fighter of fighters; track fighter.id){
        <li>
          <h4> {{fighter.name}} </h4>
          <img [src]="fighter.imageUrl" [alt]="fighter.name" class="fighter-image" />
          <p> Victorias: {{fighter.wins}}</p>
          <p>KOs: {{fighter.KOs}} </p>
          <p> Derrotas: {{fighter.loses}}</p>
          <p> Empate: {{fighter.draw}}</p>
          <a [routerLink]="['/fighter', fighter.id]" class="btn-fighter" role="button">
            Ver recorrido de combates
          </a>
        </li>
        }
      </ul>
    </div>
  </article>
</section>
