@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



:root {
  /*====== Color palette ==========*/
  --color-primary: #a68431;
  --color-secondary: #6d5521;
  --color-tertiary: #8c541c;
  --color-quaternary: #baa780;
  --color-quinary: #aa9367;
  --color-sextary: #a28c61;
  --color-white:#fff5eeed;
  --color-black: #0d0d0d;

  /* === Gradient colors === */
  --gradient-primary-rgb: 166, 132, 49;
  --gradient-secondary-rgb: 109, 85, 33;
  --gradient-tertiary-rgb: 140, 84, 28;

  /* === Font Family  === */
  --font-primary: "Anton", sans-serif;

  /* === Font size === */
  --font-size-xs: clamp(0.5rem, 2vw + 0.5rem, 1rem);
  --font-size-s: clamp(1rem, 2vw + 0.5rem, 2rem);
  --font-size-ms: clamp(1.5rem, 2vw + 0.5rem, 2.5rem);
  --font-size-m: clamp(2rem, 2vw + 1.5rem, 3rem);
  --font-size-l: clamp(3rem, 2vw + 2.5rem, 4rem);
  --font-size-xl: clamp(4rem, 2vw + 3rem, 5rem);
  --font-size-xxl: clamp(5rem, 2vw + 4rem, 6rem);

  /* === Font Weight === */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* === space letter === */
  --space-s: 0.05em;
  --space-m: 0.1em;
  --space-l: 0.2em;

  /*=== Margin y Padding ===*/
  --margin-xs: clamp(0.2rem, 2vw + 0.5rem, 0.5rem);
  --margin-s: clamp(0.6rem, 2vw + 0.8rem, 1rem);
  --margin-m: clamp(1rem, 2vw + 1rem, 2rem);
  --margin-l: clamp(2rem, 2vw + 1.5rem, 3rem);
  --margin-xl: clamp(3rem, 2vw + 2rem, 4rem);

  --padding-xs: clamp(0.2rem, 2vw + 0.5rem, 0.5rem);
  --padding-s: clamp(0.5rem, 2vw + 0.8rem, 1rem);
  --padding-m: clamp(1rem, 2vw + 1rem, 2rem);
  --padding-l: clamp(2rem, 2vw + 1.5rem, 3rem);
  --padding-xl: clamp(3rem, 2vw + 2rem, 4rem);

  /* === width and heights === */


  --width-xxs: clamp(50px, 10vw, 100px);
  --width-xs: clamp(100px, 20vw, 200px);
  --width-s: clamp(150px, 40vw, 300px);
  --width-m: clamp(250px, 60vw, 500px);
  --width-l: clamp(350px, 80vw, 800px);
  --width-xl: clamp(450px, 100vw, 1000px);

  --height-xs: clamp(50px, 10vh, 100px);
  --height-s: clamp(100px, 30vh, 200px);
  --height-m: clamp(200px, 40vh, 400px);
  --height-l: clamp(300px, 60vh, 600px);
  --height-xl: clamp(400px, 80vh, 800px);
}


body {
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
  background-image: radial-gradient(
    circle at center center,
    var(--color-black) 90%,
    var(--color-secondary) 100%,
  );
  background-size: cover;

}

/* ========================= RESET CSS ========================= */

/* Reset Josh W. Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
