<section class="hero">


    <div id="intro-animation">
      <div class="wrapper-animation">
        <div id="primary-filter"></div>
        <div id="top-gradient" class="gradient"></div>
        <div id="bottom-gradient" class="gradient"></div>
        <div id="logo-wrapper">
          <div id="logo">
            <div id="logo-border" class="absolute-centered"></div>
            <div id="logo-border-inner" class="absolute-centered"></div>
            <div id="logo-text">
              <div id="title-text" class="title-text">Temple </div>
              <div id="complement-text" class="complement-text"> of Fight</div>
            </div>
          </div>
        </div>
      </div>
    </div>



  <div id="main-content" class="hero-content">
    <div class="hero-title">
        <h1 class="title">TEMPLE </h1>
        <span>OF FIGHT</span>
    </div>

    <div class="hero-links">
      <img src="assets/img/tbp-panther.webp" alt="Logo TBPGYM" class="logo">
      <ul class="disciplines">
        <li>
          <a [routerLink]="['/mma']">
            MMA
            <span></span><span></span><span></span><span></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/boxeo']">
            Boxeo
            <span></span><span></span><span></span><span></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/muay-thai']">
            Muay Thai
            <span></span><span></span><span></span><span></span>
          </a>
        </li>
      </ul>
      <img src="assets/img/octagon.webp" alt="octagon image" class="octagon">
    </div>
  </div>
</section>
